<!DOCTYPE html>
<html>
<head>
   <title>Start Facial Filter</title>
   <style>
       #videoElement {
           width: 100%;
           height: auto;
       }
   </style>
</head>
<body>
   <h1>Click the button to start the facial filter</h1>
   <button id="startButton">Start Filter</button>
   <div id="videoContainer">
       <video id="videoElement" autoplay></video>
   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
       $(document).ready(function() {
           const videoElement = document.getElementById('videoElement');

           $('#startButton').click(function() {
               $.ajax({
                   url: '/apply_filter/',
                   method: 'GET',
                   success: function(response) {
                       console.log('Facial filter started');
                   },
                   error: function(error) {
                       console.log('Error starting facial filter');
                   }
               });
           });

           // Access the camera feed
           navigator.mediaDevices.getUserMedia({ video: true })
               .then(function(stream) {
                   videoElement.srcObject = stream;
               })
               .catch(function(err) {
                   console.log("An error occurred: " + err);
               });
       });
   </script>
</body>
</html>