<html>
<head>
   <title>Start Facial Filter</title>
   {% load static %}
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{% static 'js/facemesh.js' %}"></script>
   <style>
       #videoElement {
           width: 75%;
           height: auto;
       }
   </style>
</head>
<body>
   <h1>Click the button to start the facial filter</h1>
   <button id="startButton">Start Camera</button>
   <button id="captureButton">Capture Image</button>
   <div id="videoContainer">
       <video id="videoElement" autoplay></video>
   </div>
   <canvas id="canvas" style="display:none;"></canvas>

   {% csrf_token %}
</body>
</html>
