
/* Set the font family and background styling for the body
 */ 
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(18, 18, 18, 0.75), rgba(16, 15, 15, 0.75)),
      url(/static/images/ai.jpg) center/cover no-repeat;
    /* ^^ Apply a linear gradient overlay and a background image to the body */
    margin: 0;
    padding: 20px;
  }
  
  h1.top-left {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
  }
  
  h1.centered {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
  
  div {
    text-align: center;
  }
  
/* Styling for the unordered list.
    removes the bullet points */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    text-align: center;
    margin: 10px;
  }
  
/* Styling for the filter images.
Sets the width and height of the images, adjusts the object-fit, and add a border radius */
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  p {
    margin-top: 5px;
    color: white;
    font-weight: bold;
  }
  
