<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facial Shifter</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/Users/negro/Desktop/codeCrafters/codeCrafters/static/css/base.css"
    />
  </head>

  <body>
    <h1 class="top-left">CodeCrafters</h1>
    <div>
      <h1 class="centered">Facial Shifter</h1>

      <ul>
        <li>
          <img
            src="/Users/negro/Desktop/codeCrafters/codeCrafters/static/images/beard.jpg"
            alt="beard"
          />
          <p>Beard</p>
        </li>
        <li>
          <img
            src="/Users/negro/Desktop/codeCrafters/codeCrafters/static/images/sunglasses.jpg"
            alt="sunglasses"
          />
          <p>SunGlasses</p>
        </li>
        <li>
          <img
            src="/Users/negro/Desktop/codeCrafters/codeCrafters/static/images/dog.jpg"
            alt="dog"
          />
          <p>Dog</p>
        </li>
        <li>
          <img
            src="/Users/negro/Desktop/codeCrafters/codeCrafters/static/images/Ben.jpg"
            alt="3D Image"
          />
          <p>3D Ben</p>
        </li>
      </ul>
    </div>
  </body>
</html>
